# Tarea 3

### Listas en python

In [ ]:
#Se crea una lista de python
lista1 = ["apple", "banana", "cherry"]
#Se muestran en pantalla todos los valores de la lista
print("Elementos de la lista1: ",lista1)

Elementos de la lista1:  ['apple', 'banana', 'cherry']

In [ ]:
#Las listas permiten valores repetidos
lista2 = ["apple", "banana", "cherry", "apple", "cherry"]
#Se muestran en pantalla todos los valores de la lista
print("Elementos de la lista2: ",lista2)

Elementos de la lista2:  ['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#Los elementos de la lista pueden ser de cualquier tipo de datos
lista3 = ["apple", "banana", "cherry"]
#Se muestran en pantalla todos los valores de la lista
print("Elementos de la lista3: ",lista3)
lista4 = [1, 5, 7, 9, 3]
#Se muestran en pantalla todos los valores de la lista
print("Elementos de la lista4: ",lista4)
lista5 = [True, False, False]
#Se muestran en pantalla todos los valores de la lista
print("Elementos de la lista5: ",lista5)
#Una lista puede contener diferentes tipos de datos
lista6 = ["abc", 34, True, 40, "male"]
print("Elementos de la lista6: ",lista6)

Elementos de la lista3:  ['apple', 'banana', 'cherry']
Elementos de la lista4:  [1, 5, 7, 9, 3]
Elementos de la lista5:  [True, False, False]
Elementos de la lista6:  ['abc', 34, True, 40, 'male']

In [ ]:
lista7 = ["apple", "banana", "cherry"]
#Se muestra el segundo elemento de la lista7:
print("Segundo elemento de la lista7: ",lista7[1])

Segundo elemento de la lista7:  banana

In [ ]:
lista8 = ["apple", "banana", "cherry"]
#Se muestra el ultimo elemento de la lista8:
print("Ultimo elemento de la lista8: ",lista8[-1])

Ultimo elemento de la lista8:  cherry

In [ ]:
#Rangos en una lista
lista9 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("Sunconjunto de elmenento de lista9: ", lista9[2:5])
#Al omitir el valor inicial, el rango comenzará en el primer elemento:
#Al omitir el valor final, el rango pasará al final de la lista:
lista10 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print("Sunconjunto de elmenento de lista10: ", lista10[2:])

Sunconjunto de elmenento de lista9:  ['cherry', 'orange', 'kiwi']
Sunconjunto de elmenento de lista10:  ['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Agregamos nuevos elementos a una lista
lista11 = ["apple", "banana", "cherry"]
print("Elementos de la lista11: ",lista11)
lista11.append("orange")
print("Elementos de la lista11 despues de usar append: ",lista11)

Elementos de la lista11:  ['apple', 'banana', 'cherry']
Elementos de la lista11 despues de usar append:  ['apple', 'banana', 'cherry', 'orange']

In [ ]:
#Agregamos nuevos elementos a una lista en un indice especifico
lista12 = ["apple", "banana", "cherry"]
print("Elementos de la lista12: ",lista12)
lista12.insert(1, "orange")
print("Elementos de la lista12 despues de usar insert: ",lista12)

Elementos de la lista12:  ['apple', 'banana', 'cherry']
Elementos de la lista12 despues de usar insert:  ['apple', 'orange', 'banana', 'cherry']

In [ ]:
#Adjunta elementos de una lista a otra existente
lista13 = ["apple", "banana", "cherry"]
print("Elementos de la lista13: ",lista13)
lista14 = ["mango", "pineapple", "papaya"]
print("Elementos de la lista14: ",lista14)
lista13.extend(lista14)
print("Elementos de la lista13 despues de extend: ",lista13)

Elementos de la lista13:  ['apple', 'banana', 'cherry']
Elementos de la lista14:  ['mango', 'pineapple', 'papaya']
Elementos de la lista13 despues de extend:  ['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Eliminar banana de la lista:
lista15 = ["apple", "banana", "cherry"]
print("Elementos de la lista15: ",lista15)
lista15.remove("banana")
print("Elementos de la lista15 despues de remove: ",lista15)

Elementos de la lista15:  ['apple', 'banana', 'cherry']
Elementos de la lista15 despues de remove:  ['apple', 'cherry']

In [ ]:
#Eliminar el segundo elemento de la lista
lista16 = ["apple", "banana", "cherry"]
print("Elementos de la lista16: ",lista16)
lista16.pop(1)
print("Elementos de la lista16 despues de pop: ",lista16)

Elementos de la lista16:  ['apple', 'banana', 'cherry']
Elementos de la lista16 despues de pop:  ['apple', 'cherry']

In [ ]:
#Mostrar todos los elemetnos de la lista, uno por uno:
lista17 = ["apple", "banana", "cherry"]
for x in lista17:
  print("Elemento: ", x)

Elemento:  apple
Elemento:  banana
Elemento:  cherry

### Tuplas en python

In [ ]:
 #Creacion de una tupla
tupla1 = ("apple", "banana", "cherry")
print("Elementos de la tupla1: ",tupla1)

Elementos de la tupla1:  ('apple', 'banana', 'cherry')

In [ ]:
 #Las tuplas permiten valores duplicados
tupla2 = ("apple", "banana", "cherry", "apple", "cherry")
print("Elementos de la tupla2: ",tupla2)

Elementos de la tupla2:  ('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
#Una tupla
tupla3 = ("apple",)
print("Elementos de la tupla3: ",tupla2)
#Un elemento que no es tupla
noTupla = ("apple")
print(noTupla)
print(type(noTupla))

Elementos de la tupla3:  ('apple', 'banana', 'cherry', 'apple', 'cherry')
apple
<class 'str'>

In [ ]:
tupla4 = ("apple", "banana", "cherry")
print("Elementos de la tupla4: ",tupla4)
tupla5 = (1, 5, 7, 9, 3)
print("Elementos de la tupla5: ",tupla5)
tupla6 = (True, False, False)
print("Elementos de la tupla5: ",tupla6)
tupla7 = ("abc", 34, True, 40, "male")
print("Elementos de la tupla5: ",tupla7)

Elementos de la tupla4:  ('apple', 'banana', 'cherry')
Elementos de la tupla5:  (1, 5, 7, 9, 3)
Elementos de la tupla5:  (True, False, False)
Elementos de la tupla5:  ('abc', 34, True, 40, 'male')

In [ ]:
#Mostrar el segundo elemento de la tupla
tupla8 = ("apple", "banana", "cherry")
print("Elementos de la tupla8: ",tupla8[1])

Elementos de la tupla8:  banana

In [ ]:
#Muestra el último elemento de la tupla
tupla9 = ("apple", "banana", "cherry")
print("Elementos de la tupla9: ",tupla9[-1])

Elementos de la tupla9:  cherry

In [ ]:
#Devuelve el tercer, cuarto y quinto elemento
tupla10 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("Elementos de la tupla10: ",tupla10[2:5])
#Este ejemplo devuelve los elementos desde el principio hasta el elemento kiwi
tupla11 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("Elementos de la tupla11: ",tupla11[:4])
#Este ejemplo devuelve los elementos desde "cereza" hasta el final
tupla12 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("Elementos de la tupla12: ",tupla12[2:])

Elementos de la tupla10:  ('cherry', 'orange', 'kiwi')
Elementos de la tupla11:  ('apple', 'banana', 'cherry', 'orange')
Elementos de la tupla12:  ('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
 #Este ejemplo devuelve los elementos del índice -4 (incluido) al índice -1 􏰀→(excluido)
tupla13 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print("Elementos de la tupla13: ",tupla13[-4:-1])

Elementos de la tupla13:  ('orange', 'kiwi', 'melon')

In [ ]:
 #Cambiar elementos de una tupla
tupla14 = ("apple", "banana", "cherry")
print("Elementos de la tupla14: ",tupla14)
lista = list(tupla14)
lista[1] = "kiwi"
tupla14  = tuple(lista)
print("Elementos de la tupla14: ",tupla14)

Elementos de la tupla14:  ('apple', 'banana', 'cherry')
Elementos de la tupla14:  ('apple', 'kiwi', 'cherry')

In [ ]:
#Iterar a través de los elementos de la tupla y mostrara los valores
tupla15 = ("apple", "banana", "cherry")
for x in tupla15:
  print(x)

apple
banana
cherry

### Diccionarios en python

In [ ]:
 #Creacion de un diccionario
diccionario1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Mostramos los valores del diccionario
print("Elementos del diccionario1: ",diccionario1)

Elementos del diccionario1:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Creacion de un diccionario
diccionario2 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Mostramos los valores del diccionario
print("Elemento del diccionario2: ",diccionario2["brand"])

Elemento del diccionario2:  Ford

In [ ]:
 #Creacion de un diccionario
diccionario3 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
#Mostramos los valores del diccionario
print("Elementos del diccionario3: ",diccionario3)

Elementos del diccionario3:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
 #Tipos de datos de cadena, entero, booleanos y de lista
diccionario4 = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
#Mostramos los valores del diccionario
print("Elementos del diccionario4: ",diccionario4)

Elementos del diccionario4:  {'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
 #Obtener el valor de la clave "modelo"
diccionario5 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = diccionario5["model"]

In [ ]:
 ##Creacion de un diccionario
diccionario6 = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
#Obtener todas las claves/llaves de un diccionario
x = diccionario6.keys()
#Antes del cambio
print(x)
diccionario6["color"] = "white"
#Después del cambio
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
 #Creacion de un diccionario
diccionario7 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Change disctionary entry value
diccionario7["color"] = "red"
#Mostramos los valores del diccionario
print("Elementos del diccionario7: ",diccionario7)

Elementos del diccionario7:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
 #Creacion de un diccionario
diccionario8 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#Mostramos los valores del diccionario antes
print("Elementos del diccionario8: ",diccionario8)
#Eliminamos una entrada especifica del diccionario
del diccionario8["model"]
#Mostramos los valores del diccionario despues
print("Elementos del diccionario8: ",diccionario7)

Elementos del diccionario8:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Elementos del diccionario8:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
 #Creacion de un diccionario
diccionario9 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print("claves/llaves del diccionario 9:")
#Se muestran las claves/llaves del diccionario
for x in diccionario9:
  print(x)

print("claves/llaves y valores del diccionario9:")
#Se muestran lo valores asociados a cada clave/llave
for x in diccionario9:
  print("Llave: ",x,", valor: ",diccionario9[x])

claves/llaves del diccionario 9:
brand
model
year
claves/llaves y valores del diccionario9:
Llave:  brand , valor:  Ford
Llave:  model , valor:  Mustang
Llave:  year , valor:  1964

### Función zip para bucles/ciclos

In [ ]:
#Crear dos tuplas del mismo tamaño
tupla1 = ("John", "Charles", "Mike")
tupla2 = ("Jenny", "Christy", "Monica")
#We need to iterate over there to get one element of each tuple at a time
x = zip(tupla1, tupla2)
#Iteracion
print("Elementos de la tupla1 y tupla2: ")
for y in x:
  print(y)

Elementos de la tupla1 y tupla2:
('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [ ]:
 ##Crear dos tuplas de distinto tamaño
tupla3 = ("John", "Charles", "Mike")
tupla4 = ("Jenny", "Christy", "Monica", "Vicky")
x = zip(tupla3, tupla4)
#Iteracion
print("Elementos de la tupla3 y tupla4: ")
for y in x:
  print(y)

Elementos de la tupla3 y tupla4:
('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [ ]:
 #Crear dos listas de python
lista1 = ['Alpha', 'Beta', 'Gamma', 'Sigma']
lista2 = ['one', 'two', 'three', 'six']
 #Aplicamos la funcion zip
prueba = zip(lista1, lista2)  # zip the values
print("Mostramos los elementos de la variable resultante")
for valores in prueba:
    print(valores)  # se muestra cada tupla

Mostramos los elementos de la variable resultante
('Alpha', 'one')
('Beta', 'two')
('Gamma', 'three')
('Sigma', 'six')

### Archivos en python

#### Abrir archivos en python

In [ ]:
 #Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
# Abrir archivo usando la ruta completa
f = open(path+"test.txt")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
 #Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
# Abrir archivo en modo lectura
f = open(path+"test.txt","r")

#### Cerrar archivos en Python

In [ ]:
 #Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive previamente montada en scripts anteriores
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
# Abrir archivo en modo lectura
f = open(path+"test.txt","r")
"""
Trabajamos con el archivo
"""
#Cerramos el archivo
f.close()

In [ ]:
 #Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
#Bloque de ejecucion seguro
try:
   f = open(path+"test.txt", "r")
   # Realizamos operaciones sobre el archivo
finally:
   f.close()

In [ ]:
 #Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
drive.mount('/content/drive')
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
#Abrimos un archivo usando la cláusula with
with open(path+"test.txt", "r") as f:
  #Realizamos operaciones sobre el archivo

SyntaxError: ignored

### Escribir archivos en Python

In [ ]:
#Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
#Create un nuevo archivo
with open(path+"test1.txt",'w') as f:
   f.write("my first file\n")
   f.write("This file\n\n")
   f.write("contains three lines\n")

### Lectura de archivos en python

In [ ]:
#Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
print("\nLineas de texto en el archivo:\n")
#Leer un archivo txt usando Python
with open(path+"test.txt",'r') as f:
    for x in f:
       #mostramos cada linea del archivo
       print(x)

Lineas de texto en el archivo:

This is a file with multiple

lines of text that helps to

understand the Python

In [ ]:
#Es necesario usar una libreia para manejo del sistema operativo
import os
'''
Importamos la libreria estandar de colab para montar un
sistema de Google Drive
'''
from google.colab import drive
#Montamos nuestra unidad de Google Drive
path='/content/drive/My Drive/Colab Notebooks/laboratorio3/'
print("\nPrimeras dos lineas de texto en el archivo:\n")
with open(path+"test.txt",'r') as f:
    print(f.readline())
    print(f.readline())

Primeras dos lineas de texto en el archivo:

This is a file with multiple

lines of text that helps to

### Funciones de Python

#### Crear una función en python

In [ ]:
#Crear una función en Python
def funcion1():
  print("Hello from a function")

#### Llamar a una función en python

In [ ]:
#Creamos una funcion
def funcion2():
  print("Hello from a function")
#Llamamos a la funcion del codigo principal
funcion2()

Hello from a function

#### Argumentos de función en python

In [ ]:
#Creamos una funcion
def funcion3(nombre):
  print(nombre + " Smith")
#La llamamos desde el codigo principal
funcion3("Emil")
funcion3("Tobias")
funcion3("Linus")

Emil Smith
Tobias Smith
Linus Smith

#### Número de argumentos en python

In [ ]:
#Esta función espera 2 argumentos y obtiene 2 argumentos
def funcion4(a, b):
  print(a + " " + b)
funcion4("Emil", "Smith")
#Si intenta llamar a la función con 1 o 3 argumentos, obtendrá un error:
#funcion4("Emil")

Emil Smith

#### Valores de parámetros predeterminados

In [ ]:
#Se crea una funcion con parametros con default
def funcion5(country = "Norway"):
  print("Yo soy de " + country)
funcion5("Sweden")
funcion5("India")
funcion5()
funcion5("Brazil")

Yo soy de Sweden
Yo soy de India
Yo soy de Norway
Yo soy de Brazil

#### Pasar una estructura no primitiva como argumento

In [ ]:
 #Crear una función que tome una lista como argumento
def funcion6(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
funcion6(fruits)

apple
banana
cherry

#### Valores devuletos en python

In [ ]:
 #Declaracion de la funcion
def funcion7(x):
  return 5 * x
#Llamar a la funcion
print(funcion7(3))
print(funcion7(5))
print(funcion7(9))

15
25
45

### Manipulación de cadenas

#### Definir una cadena

In [ ]:
#Ejemplos de cadenas
cadena1  = "Example string #1"
print(cadena1)
cadena2 = 'Example string #2'
print(cadena2)

Example string #1
Example string #2

In [ ]:
#Use single or double quote mark
cadena3="My teacher said \"Don't forget your homework.\""
print(cadena3)
cadena4='This is Linode\'s documentation site.'
print(cadena4)

My teacher said "Don't forget your homework."
This is Linode's documentation site.

#### Subcadensa

In [ ]:
#Obtenemos una subcadena
cadena5 = "This is a string."
letra = cadena5[0]
print(letra)

T

In [ ]:
cadena6="Hello world how are you"
print(cadena6[0:5])

Hello

#### Operadores sobre cadenas

In [ ]:
#Concatenacion de cadenas
nombre= "Abraham"
apellido = " Lincoln"
print(nombre + apellido)

Abraham Lincoln

In [ ]:
#Generar múltiples elementos de tipo cadena
a="a"
print(a* 10)

aaaaaaaaaa

#### Métodos de cadena

In [ ]:
# Capitalizar una cadena de texto
print('example string'.upper())

EXAMPLE STRING

In [ ]:
 #Eliminar espacios adicionales de una cadena
print('example '.strip())

example

In [ ]:
#Cadena dividida por medio de los espacios en blanco
a='This string has five words'.split()
print(a)

['This', 'string', 'has', 'five', 'words']

In [ ]:
cadena7='one,two,three,four,five'.split(',')
print(cadena7)

['one', 'two', 'three', 'four', 'five']

In [ ]:
print(' '.join(['This', 'string', 'has', 'five', 'words']))

This string has five words